20240711_152750_Mafalda_cKIT/Mafalda_cKIT_Report_PEPQuant (Normal).tsv
20240711_152750_Mafalda_cKIT/Mafalda_cKIT_Report_PGQuant (Pivot).tsv
20240711_152750_Mafalda_cKIT/RunSummaries/
20240711_152750_Mafalda_cKIT/Figures/Untitled-2.ai
